In [1]:
import pandas as pd
import json

In [8]:
df = pd.read_csv('data/employee-manager.csv', header = 0).convert_dtypes()
df.head()

  EMPLOYEE MANAGER
0    ADAMS   SCOTT
1    ALLEN   BLAKE
2    BLAKE    KING
3    CLARK    KING
4     FORD   JONES

In [14]:
def getJSON(df):
    nodes = {}
    for _, row in df.iterrows():
        name = row.iloc[0]
        nodes[name] = {"name" : name }
        
    root = None
    
    for _, row in df.iterrows():
        node = nodes[row.iloc[0]]
        isRoot = pd.isna(row.iloc[1])
        if isRoot:
            root = node
        else:
            parent = nodes[row.iloc[1]]
            if "children" not in parent:
                parent["children"] = []
            parent["children"].append(node)
    #eventually it would have king at top and its children
    return root

In [17]:
root = getJSON(df)
with open('data/employee-manager.json', "w") as f:
    f.writelines(json.dumps(root, indent = 2))